html {
    box-sizing:border-box
}

*,*:before,*:after {
    box-sizing:inherit
}

body {
    margin:0;
    color: white;
}

a   {
    background-color:transparent;
    color: inherit;
}

a:active,a:hover{
        outline-width:0
}

button,input,select,textarea{
    font-family: 'Playfair Display', serif;
    margin:0
}

.title-img {
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    max-width: 100%;
    height: auto;
    position: relative;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
}

.title-text {
    font-size: 4vw;
    position: absolute;
    top: 60%;
    left: 21%;
    transform: translate(-50%, -50%);
    color: white;
}

.desc-text{
    font-size: 2.5vw;
    font-style: italic;
    position: absolute;
    top: 71%;
    left: 22%;
    transform: translate(-50%, -50%);
    color: white;
}

p,li {
    font-family: 'Playfair Display', serif;
}

.content {
        margin:auto;
        background-color:  #ffffff;
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto auto;
}

* {
    box-sizing: border-box;
}
.row::after, .row::before {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    box-sizing: border-box;
    float: left;
    grid-column-start: 1;
    grid-column-end: 4;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-right {
      width: 60%;
      grid-column-start: 2;
      grid-column-end: 4;
      margin-right: 40px;
    }
    .col-left {
      width: 40%;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 40px;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-right {
      width: 60%;
      grid-column-start: 2;
      grid-column-end: 4;
      margin-right: 40px;
    }
    .col-left {
      width: 40%;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 40px;
    }
}

.main-entry {
    margin: 16px!important;
    color: #003300;
    background-color: #ffffff;
    padding: 5px;
    font-size: 32px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.sub-entry {
    color: #003300;
    margin: 0px 16px 0px 16px!important;
    background-color: #ffffff;
    padding: 0px 10px 100px 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    font-size: 18px;
}

.sub-entry-img {
  margin: 16px!important;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 100%;
}

.sub-img {
  width: 100%;
}
